$color-primary: #3046c5;
$color-secondary: #5637dd;
$color-pale: #cec8ff;
$color-mid: #901cad;
$color-dark: #60106b;
$color-black-translucent: #00000055;
$color-play-button-border-dark: rgb(128, 0, 0);
$color-play-button-border-light: rgb(200, 0, 0);
$color-play-button: rgb(92, 9, 9);
$color-play-button-shadow: rgb(150, 2, 2);

$font-body: 'Open Sans', sans-serif;
$font-header: 'Lobster', cursive;

body {
	box-sizing: border-box;
	font-family: $font-body;
	overflow-x: hidden;
}

h1,
h2,
h3 {
	font-family: $font-header;
}

h2 {
	color: $color-primary;
}

header {
	h2 {
		color: $color-pale;
	}
}

.navbar {
	background-color: $color-mid;
}

.carousel {
	border: solid $color-secondary;
}

#carouselButton {
	border-top: 2px solid $color-play-button-border-dark;
	border-right: 2px solid $color-play-button-border-light;
	border-bottom: 2px solid $color-play-button-border-light;
	border-left: 2px solid $color-play-button-border-dark;
	box-shadow: inset 2px 2px 4px;
	position: absolute;
	right: 0;
	bottom: 0;
	z-index: 100;
}

#carouselButton > i {
	text-shadow: 3px 3px 6px;
}

.carousel-caption {
	background-color: $color-black-translucent;
}

.content-box {
	box-sizing: content-box;
}

.copy-date {
	opacity: 0.3;
	transition: all 2s ease;
}

.copy-date:hover {
	cursor: help;
	opacity: 1;
	transform: scale(1.2);
}

.copy-sign {
	box-sizing: border-box;
	display: inline-block;
}

.jumbotron {
	padding: 30px;
	background-image: linear-gradient(
		to right,
		$color-secondary,
		$color-primary,
		$color-dark
	);
	border-radius: 0px;
	color: white;
	margin: 0;
}

.row-content {
	padding: 50px 0;
	border-bottom: 1px ridge;
	min-height: 200px;
}

.site-footer {
	background-image: linear-gradient(#cec8ff, white);
	padding: 20px 0;
}

.tab-content {
	border: 1px solid #ddd;
	border-top: none;
	padding: 10px;
}

@media (prefers-reduced-motion: no-preference) {
	.copy-sign {
		animation: copy-sign-rotate infinite 10s linear;
	}
}

@keyframes copy-sign-rotate {
	from {
		transform: rotate(0);
	}
	to {
		transform: rotate(360deg);
	}
}
