@import '../node_modules/bootstrap/scss/bootstrap';

body {
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
	overflow-x: hidden;
}

h1,
h2,
h3 {
	font-family: 'Lobster', cursive;
}

h2 {
	color: #3046c5;
}

header h2 {
	color: #cec8ff;
}

/* was experimenting with some table properties in the MDN: https://developer.mozilla.org/en-US/docs/Web/HTML/Element/tr */
/* table {
	border: 1px solid black;
	font: 1rem 'Open Sans', Helvetica, Arial, sans-serif;
	border-spacing: 0;
	border-collapse: collapse;
} */

.navbar {
	background-color: #901cad;
}

.carousel {
	border: solid #5637dd;
}

.carousel-caption {
	/* 8-digit-hex maxes more sense for a simple color like this */
	background-color: #00000055;
}

/* .carousel-img-container {
	height: 40vh;
	width: 60vw;
} */

.content-box {
	box-sizing: content-box;
}

.copy-date {
	/* margin-top: 1rem;
	position: absolute;
	left: 30%; */
	opacity: 0.3;
	transition: all 2s ease;
}

.copy-date:hover {
	cursor: help;
	opacity: 1;
	transform: scale(1.2);
}

.copy-sign {
	box-sizing: border-box;
	display: inline-block;
}

.jumbotron {
	padding: 30px;
	background-image: linear-gradient(to right, #5637dd, #3046c5, #60106b);
	border-radius: 0px;
	color: white;
	margin: 0;
}

.row-content {
	padding: 50px 0;
	border-bottom: 1px ridge;
	min-height: 200px;
}

.site-footer {
	background-image: linear-gradient(#cec8ff, white);
	padding: 20px 0;
}

.tab-content {
	border: 1px solid #ddd;
	border-top: none;
	padding: 10px;
	/* I thought a little more padding looked better: 
	padding: 2rem; */
}

/* @media (min-width: 576px) {
	.copy-date {
		left: auto;
	}
} */

@media (prefers-reduced-motion: no-preference) {
	.copy-sign {
		animation: copy-sign-rotate infinite 10s linear;
	}
}

@keyframes copy-sign-rotate {
	from {
		transform: rotate(0);
	}
	to {
		transform: rotate(360deg);
	}
}
